/* Linked to my index.html via the stylesheet with the project name */
html {
  background-color: var(--background) !important;
}
:root {
  --clr-light: #ffffff;
  --clr-dark: #151515;
  --clr-primary: #dbffa2;
  --clr-secondary: #c3fcf2;
  --clr-accent: #ff7750;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);
}

:root(.darkmode) {
  background-color: #151515;
}

.darkmode {
  --clr-light: #FFFFFF;
  --clr-dark: #151515 !important;
  --clr-primary: #202302;
  --clr-secondary: #00100d;
  --clr-accent: #ff7750;

  --foreground: var(--clr-light) !important;
  --background: var(--clr-dark) !important;
}

/* CSS Color Variables */
:root {
  /* Palette */
  --soft-yellow: #ffe993;
  --soft-yellow-50: #ffeb45;
  --soft-orange: #eb831c;
  --soft-purple: #b344ff;
  --soft-mauve: #ffb6ff;
  --soft-magenta: #CA2266;
  --soft-blue: #51A0D5;
  --soft-aqua: #78C5EF;
  --soft-navy: #2C528C;
  --soft-green: #A4D03B;
  --soft-forest: #4DB05C;
  --soft-black: #151515;

  --brand: #2C528C !important;
  --secondary: #2b903a;
  --accent: #cf4500;
  --muted: #666666;





  /* Mono */
  --mono-70: #13152c;
  --mono-50: #313436;
  --mono-30: #5b6063;
  --mono-10: #ececec;
  --mono-05: #f1f2f3;
  --white: #ffffff;
  --black: #000000;

  /* Primary */
  --primary-70: #4331b4;
  --primary-50: #6d5dd3;
  --primary-30: #a59be4;
  --primary-10: #dad7f5;
  --primary-05: #edebfa;
  /* Warning */
  --warning-70: #e69c45;
  --warning-50: #ffa942;
  --warning-05: #fff8ef;
  /* Danger */
  --danger-70: #bd2c2c;
  --danger-50: #dd3434;
  --danger-05: #feeaea;
}

body {
  margin: 0;
  font-family: "Bree Serif", -apple-system, "Gotham Pro", Roboto, "sagoeUI",  sans-serif;
  font-size: 16px;
  color: var(--foreground) !important;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Containers */
/* Optional to add containers in global */
/* Adding for demo Copied from Youtube */
.container {
  margin: 200px auto;
  padding: 0 100px;
  height: 60vh;
}
.container .row {
  margin: 24px auto;
  display: flex;
}

.container .row.space-between {
  justify-content: space-between;
}
.container .row.center {
  justify-content: center;
}
.container .row.v-center {
  align-items: center;
}

.container .row.spaced {
  margin-left: 10px;
}

/* Social Buttons */
.social-buttons {
  align-self: end !important;
  justify-content: center !important;
  margin: 0px 5px !important;
  position: relative;
  border-radius: 10px !important;
  left: 450px;
  bottom: 65px;
  background-color: var(--soft-navy) !important;
  color: var(--background) !important;
}

.verticalfix {
  transform: translate(0, 100%);
}

.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

/*COLOR CLASSES*/

.magenta {
  background-color: var(--soft-magenta) !important;
}

.c-button--social {
  background-color: #2C528C;
}

.c-button--sn {
  background-color: var(--soft-navy) !important;
}

.footer {
  background-color: var(--background);
}

.c-button.back-to-top {
  display: inline-flex;
  align-self: flex-start;
  height: 2rem;
}


/*MEDIA QUERIES*/

@media (max-width: 1800px) {
  .container {
    padding: 0 400px;
  }
}
@media (max-width: 1650px) {
  .container {
    padding: 0 300px;
  }
}

@media (max-width: 1450px) {
  .container {
    padding: 0 200px;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 100px;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 0 60px;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0 32px;
  }
}
